<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ubakip.ru</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/respond.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/angular") 
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Title -->
            <div class="navbar-header pull-left">
                @Html.ActionLink("ubakip", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
            <div class="navbar-header pull-right">
                
    
                <ul class="nav pull-left">
                    <li class="pull-left">
                        <form action="" class="search-form">
                            <div class="form-group has-feedback">
                                <label for="search" class="sr-only">Search</label>
                                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </li>
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <!-- This works well for static text, like a username -->
                        <li class="navbar-text pull-left">@Html.ActionLink(@User.Identity.Name, "Index", "UserInfo", new { area = "" }, new { @id = "usrlbl" })</li>
                    <!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" style="margin-top: 5px;" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("AdminPanel", "Home")">Admin Panel</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Account")">Log Out</a>
                                </li>
                            </ul>
                        </li>                        
                    }
                    else
                    {
                        <li class="pull-right">@Html.ActionLink("SIGN IN", "Login", "Account", new { area = "" }, new { @class = "" })</li>
                            <li class="pull-right"><a href="@Url.Action("Registration", "Account")">SIGN UP</a></li>
                    }
                    
                </ul>                
                <!-- Required bootstrap placeholder for the collapsed menu -->
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>

            <!-- The Collapsing items            navbar-left or navbar-right -->
            <div class="collapse navbar-collapse navbar-left">
                <!--                      pull-right keeps the drop-down in line -->
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("New", "Index", "Home")</li>
                    <li>@Html.ActionLink("Popular", "Index", "Home")</li>
                    <li>@Html.ActionLink("Comix", "Index", "Comix")</li>
                    <li>@Html.ActionLink("ComixMaker", "ComixMaker", "Comix")</li>
                </ul>                
            </div>

            <!-- Additional navbar items -->
            <div class="collapse navbar-collapse navbar-right">
                <!--                      pull-right keeps the drop-down in line -->
                <ul class="nav navbar-nav pull-right">
                    @*<li><a href="/locator">Locator</a></li>
                    <li><a href="/extras">Extras</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center" style="background-color: #ffc974">&copy; @DateTime.Now.Year - ubakip.ru</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
