@model ubakip.Models.Post

<div >
    <div class="col-xs-1 avatar-div">
        <a href="#"> <img src=@Model.Comix.Author.Photo class="img-circle avatar center-block" alt=@Model.Comix.Author.Login /></a>
    </div>
    <div class="col-xs-7 non-padding">
        <div class="post-info">
            <h2>
                @Model.Comix.Name
                <img src=@Model.MPAARating.Photo class="mpaa-image" alt=@Model.MPAARating.Description title=@Model.MPAARating.Description />
            </h2>
            <a href="#">@Model.Comix.Author.Login</a> | @Model.Comix.DateCreated
        </div>
    </div>
        <div class="col-xs-4 rating">
            <form action="">
                @{ string userchecked = "";
                    if (Model.UserRating != 0) { userchecked = " userchecked"; }}
                <div class="stars @userchecked">
                    @{
                        for (int i = 5; i >= 1; i--)
                        {
                            string Star = "star-" + i.ToString();
                            string Class = "star " + Star;
                            int averageRating = (int)Math.Round(Model.Rating);
                            if (Model.UserRating != 0) { averageRating = (int)Model.UserRating; }
                            string Checked = "";
                            string Id = Model.Comix.Id.ToString() + "-" + i.ToString();
                            if (i == averageRating) { Checked = "checked"; }
                            <input class="@Class" id=@Id @Checked type="radio" data-id=@Model.Comix.Id onchange="RatingChange(this)" data-value=@i name="star" />
                            <label class="@Class" for=@Id></label>
                        }
                    }
                </div>
            </form>
            <p> Average: @Model.Rating.ToString() </p>
        </div> 


    <div class="pages-container">
        @{
            foreach (var p in Model.Comix.Pages)
            {
                <div style="text-align: center" class="page-preview" onclick="location.href='@Url.Action("List", "Comix", new { postId = Model.Comix.Id, pageId = p.Id })'">
                    <div class="wrapper">
                        <div class="main-form center-block" id="main-form" style="background:#@p.Background">
                            @Html.Raw(p.Preview)
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    </div>




