@model ubakip.Models.UserProfile
<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/angular-masonry-directive.js"></script>
<script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<div class="row">
    <div class="col-md-3 user-avatar">
        <a href=@Model.User.Photo><img src=@Model.User.Photo class="img-responsive center-block" alt=@Model.User.Name /></a>
    </div>
    <div class="col-md-9 user-info">
        <h1>@Model.UserInfo.FirstName @Model.UserInfo.LastName</h1>
        @@@Model.User.Name
        <h4>
            Rating:
        </h4>
        <div class="user-rating">
            <form action="">
                @{  int averageRaring = (int)Math.Round(Model.UserInfo.Rating);
                    for (int i = 5; i >= 1; i--)
                    {
                        string Star = "star-" + i.ToString();
                        string Class = "star userchecked";
                        string Checked = "";
                        if (i == averageRaring) { Checked = "checked"; }
                        <input class="@Class" id=@Star type="radio" name="star" @Checked disabled readonly />
                            <label class="@Class" for=@Star></label>
                    }
                }
            </form>
        </div>
        <h4> Medals:</h4>
        <div class="medals-container">
            @{
                foreach (var m in Model.Medals)
                {
                    Html.RenderPartial("MedalPartial", m);
                }
            }
        </div>

        <h4>About:</h4>
        @Model.UserInfo.About
    </div>
</div>

<div class="comment-editor" ng-app="CommentApp" ng-controller="CommentListController">
    <script src="~/Scripts/comment.js"></script>
    @if (@User.Identity.IsAuthenticated)
    {
    <form id="MessageForm" ng-submit="addComment()"
          ng-init='Initialize(@ubakip.Controllers.JavaScriptConverterController.JavaScriptConvert.SerializeObject(Model.Comments),@Model.User.Id)'>
        <textarea ng-model="commentText" size="30" name="message" placeholder="add new comment"></textarea>
        <br />
        <input class="btn btn-success" type="submit" value="Send">
    </form>
    }

    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".masonry-brick","column-width" : "300"}'>
        <div  masonry-tile class="masonry-brick comment"  id={{comment.id}}  ng-repeat="comment in comments">
            <div class="comment-info">
                <div class="avatar-div">
                    <img ng-src={{comment.fromUser.photo}} class="avatar img-circle " />
                </div>
                <a href="#" class="centered"> {{comment.fromUser.name}}</a>
            </div>
            <div class="comment-text">
                {{comment.text}}
            </div>
        </div>
    </div>       
    </div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

